@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

/* html {
	background-color: #FAF9EE;
} */

body{
	height: 100vh;
}

.ql-editor{
	font-size: 1rem;
	color: #fff;
}