# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Build output
dist/
build/
dist-ssr/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# System files
.DS_Store

# IDEs and editors
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: Ignore coverage reports if using testing
coverage/
